.post-type-gift .manage-column.column-photo {
    width: 64px;
    text-align: center;
}
.post-type-gift .photo.column-photo img {
    width: 100%;
    height: auto;
}
.gifts_dependin_mb20 {
    margin-bottom: 20px;
}
.clear {
    clear: both;
}
